Page {
    background-color: white;
    padding: 20;
}

TextField,
Label {
    height: 60;
    font-size: 18;
}

Button {
    border-radius: 5;
    border-width: 1;
    background-color: lightgray;
    margin: 10 0;
}

Button:active {
    background-color: whitesmoke;
}

Image {
    height: 25;
    width: 25;
}